body{
   margin:0;
   overflow:scroll;
   background-color:#998c7c;

   font-family: Microsoft JhengHei, PMingLiU, Apple LiSung;
}

/*
 標題Logo樣式 
*/
#TopLogo{
   padding:10px;
   height:140px;
   width:100%;
   background-color:white;
   text-align:center;
}

#TopLogo img{
   height:90%;
}

/*
 浮動連結樣式，平時透明，滑鼠在上變實心
*/
#Badge-Panel{
   top:300px;
   right:50px;
   position:fixed;
}
.Badge a img{
   height:50px;
   opacity: 0.5;

   filter:alpha(opacity=50);  /* suck IE6    */
   -moz-opacity:0.5;          /* old Mozilla */
   -khtml-opacity: 0.5;       /* old Safari  */
}
.Badge a:hover img{
   height:50px;
   opacity: 1;

   filter:alpha(opacity=100); /* suck IE6    */
   -moz-opacity:1;            /* old Mozilla */
   -khtml-opacity:1;          /* old Safari  */
}

/*
 首頁圖片 
*/
#MainPic{
   height:500px;
}

#MainPic img{
   height:500px;
   opacity: 0.8;

   filter:alpha(opacity=80);  /* suck IE6    */
   -moz-opacity:0.8;          /* old Mozilla */
   -khtml-opacity:0.8;        /* old Safari  */
}

/*
 彈出視窗
*/
#Pop-Screen{
   display:none;
}
#Pop-Screen-Background{
   height:100%;
   width:100%;
   top:0px;
   left:0px;
   position:fixed;

   background-color:black;
   opacity: 0.8;
   z-index:10000;

   filter:alpha(opacity=80);  /* suck IE6    */
   -moz-opacity:0.8;          /* old Mozilla */
   -khtml-opacity:0.8;        /* old Safari  */
}
#Pop-Screen-Content{
   height:80%;
   width:80%;
   top:50%;
   left:50%;
   position:fixed;

   background-color:white;
   vertical-align:middle;
   z-index:10001;
   overflow:auto;
}

/*
 內文區背景
*/
#Content-Background{
   margin:0;
   padding:0;
   width:100%;
   background-color:white;
}
/*
 內文無margin
*/
p{
   margin:0;
}


/*
 頁尾
*/
footer{
   min-height:60px;
}

#Copyright{
   height:40px;
   color:#ffffff;
   clear:both;
   display:table-cell;
   vertical-align:middle;
}
