#Content{
   margin:0px auto;
   text-align:center;
   width:80%;
}

/*
 staff的架構如下：
 　外層框架
 　　群組
 　　　群組名稱
 　　　連結
 　　　　連結名稱
 　　　　連結網址
*/

/*
 外層框架
*/
#Links{
   margin:0px auto;
   width:860px;
   display:inline-block;
}

/*
 群組
*/
.Link-Group{
   margin:5px;
   padding:10px 5px;
   width:400px;
   display:inline-block;

   background-color:#fbf1e3;
   border-radius:10px;
}

/*
 群組名稱
*/
.Link-Group-Title{
   font-size:18px;
}

/*
 連結
*/
.Link{
   padding:5px;
   text-align:left;
   border-radius:5px;
}
.Link:hover{
   background-color:white;
}


/*
 連結名稱
*/
.Link-Title{
}

/*
 連結網址
*/
.Link-Href{
}
