#Content{
   margin:0px auto;
   text-align:center;
}

/*
 訊息列表框架
*/
#News{
   width:80%;
}
/*
 其中一則訊息
*/
.news{
   padding:5px 0px;
   left:50%;
   display:block;
}
.news a{
   text-decoration: none;
}
.news div{
   display:inline-block;
   text-align:left;
}
.news_time{
   width:100px;
}
.news_title{
   width:400px;
}
.news_announcer{
   width:200px;
}
