#Content{
   margin:0px auto;
   text-align:center;
}

/*
 訊息列表框架
*/
#News{
   width:80%;
}
/*
 其中一則訊息
  div news
    a
      div news_time
      div news_title
      div news_announcer
*/
.news{
   padding:5px 0px;
   left:50%;
   display:block;
}
.news div{
   display:inline-block;
}
.news a{
   text-decoration:none;
}
.news a:hover{
   background-color:#fbf1e3;
}
.news_time{
   text-align:left;
   width:100%;
   max-width:100px;
}
.news_title{
   text-align:left;
   width:100%;
   max-width:400px;
}
.news_announcer{
   text-align:right;
   width:100%;
   max-width:200px;
}
