#Content{
   margin:0px auto;
   text-align:center;
   list-style-type:none;
}

#Staff{
   margin:0px auto;
   width:80%;
}

#Position{
}
#ChineseTitle{
}
#EnglishTitle{
}

#Member{
   width:300px;
   display:inline-block;
}
#MemberDescription{
   width:200px;
   float:right;
   word-wrap:break-word;
}
#ChineseName{
}
#EnglishName{
}
#Major{
}
#EMail{
}
#MemberPhoto{
   width:100px;
   float:left;
}
