#Content{
   margin:0 auto;
   text-align:center;
   list-style-type:none;
}

#Position{
   margin:0;
   width:80%;
}
#ChineseTitle{
}
#EnglishTitle{
}

#Member{
   width:400px;
   display:inline-block;
}
#MemberDescription{
   width:300px;
   float:right;
}
#ChineseName{
}
#EnglishName{
}
#Major{
}
#EMail{
}
#MemberPhoto{
   width:100px;
   float:left;
}
