/*
 Time-Line的架構如下：
 　外層框架
 　　年代框架
 　　　年代項目框架
 　　　　年代選項
 　　年份框架
 　　　時間軸框架
 　　　　時間軸
 　　　年份項目框架
 　　　　年份項目
*/

/*
 外層框架
*/
#Time-Line{
   margin:0;
   padding:0;
   width:100%;
   text-align:center;
}

/*
 年代框架
*/
#Time-Line-Dec{
   margin:0;
   padding:0;
}
/*
 年代項目框架
*/
#Dec-Container{
   margin:0;
   padding:0;
   list-style-type:none;
}
/*
 年代選項
*/
.Dec{
   width:100px;
   display:table-cell;
   vertical-align:middle;
}
　
/*
 年份框架
*/
#Time-Line-Yr{
   margin:0;
   padding:0;
}
/*
 時間軸框架
*/
#Slider-Container{
}
/*
 時間軸
*/
#Slider{
}
/*
 年份項目框架
*/
#Yr-Container{
   margin:0;
   padding:0;
   list-style-type:none;
}
/*
 年份項目
*/
.Yr{
   width:70px;
   display:table-cell;
   vertical-align:middle;
}
