/*
 Top-Bar的架構如下：
 　導覽列框架
 　　導覽列項目框架
 　　　選項
 　　　　選項按鈕
 　導覽列修正
*/

/*
 導覽列框架
*/
#Top-Bar{
   margin:0;
   padding:0;
   height:80px;
   width:100%;
   background-color:#CC0033;
   text-align:center;
}

/*
 導覽列項目框架
*/
.Menu-Bar{
   margin:0;
   padding:0;
   list-style-type:none;
}

/*
 選項
*/
.Menu-Bar li{
   height:80px;
   width:160px;
   display:table-cell;
}

/*
 讓選項超連結不要有底線跟變色
*/
.Menu-Bar a:link   {text-decoration:none;}
.Menu-Bar a:visited{text-decoration:none;}
.Menu-Bar a:hover  {text-decoration:none;}
.Menu-Bar a:active {text-decoration:none;}

/*
 選項按鈕
*/
.Top-Bar-Buttons{
   color:white;
   font-size:150%;
}

/*
 導覽列修正：定在上方時的平滑捲動
*/
#Top-Bar-Fix{
   height:80px;
   display:none;
}
