#Content{
   width:80%;
   margin:0px auto;
}

#Authors{

}

#Newcomer-Menu-List li{
   padding:5px 10px;
   width:90px;

   display:table-cell;
   vertical-align:middle;
   color:gray;
   cursor:pointer;

   border-style: none solid;
   border-width: 1px;
}

#Newcomer-Container{
}
