#Content{
   margin:0px auto;
}

#Authors{

}

#Newcomer-Menu-List li{
   display:table-cell;
   vertical-align:middle;
   border-style: none solid;
   color:gray;
   cursor:pointer;
}

#Newcomer-Container{
   
}
