#Content{
   width:80%;
   margin:0px auto;
   text-align:center;
}

#Content ul{
   padding:0;
}

#Authors{
   width:90px;
   top:300px;
   left:50px;
   position:fixed;
   text-align:center;
   list-style-type:none;
}
#Authors p{
   height:30px;
   font-weight:bold;
   vertical-align:middle;
   background-color:#ffff99;   
}
#Authors li{
   height:30px;
   vertical-align:middle;
   background-color:#ffffcc;
}

#Newcomer-Menu-List li{
   padding:5px 10px;
   width:90px;

   display:table-cell;
   vertical-align:middle;
   color:gray;
   cursor:pointer;

   border-style: none solid;
   border-width: 1px;
}

#Newcomer-Container{
   margin:0px auto;
   width:80%;
   text-align:justify;
   text-justify:inter-ideograph; /* for IE only */
}
