#Content{
   margin:0px auto;
   text-align:center;
   list-style-type:none;
}

/*
 staff的架構如下：
 　外層框架
 　　職位框架
 　　　職位描述區
 　　　　中英文職稱
 　　　成員框架
 　　　　描述區
 　　　　　中英文姓名
 　　　　　主修
 　　　　　Email
 　　　　照片區
*/

/*
 外層框架
*/
.Staff{
   margin:0px auto;
   width:80%;
}

/*
 職位框架
*/
.Position{
}
/*
 職位描述區
*/
.PositionDescription{
}
/*
 中英文職稱
*/
.ChineseTitle{
}
.EnglishTitle{
}

/*
 成員框架
*/
.Member{
   margin:5px;
   padding:5px;
   width:310px;
   height:120px;

   background-color:#ccc1b2; /* warm gray 3 */
   display:inline-block;
   border-radius:5px;
}
/* 調整內文垂直置中用 */
.Member:before{
   content:'';
   height:100%;
}

/*
 描述區
*/
.MemberDescription{
   width:200px;
   word-wrap:break-word;
   display:inline-block;
   vertical-align:middle;
}
/*
 中英文姓名
*/
.ChineseName{
}
.EnglishName{
}
/*
 主修
*/
.Major{
}
/*
 Email 連結的樣式設定
*/
.Email a{
   text-decoration:none;
}
.EMail a:link,  a:visited{
   color:blue;
}

.EMail a:hover, a:active {
   color:red; 
}

/*
 照片區
*/
.MemberPhoto{
   width:100px;
   display:inline-block;
   vertical-align:middle;
}
