.Menu-List{
   padding:0px;
}

.Menu-List li{
   margin:10px;
   height:50px;
   width:120px;
   display:inline-block;
   color:blue;
   background-color:white;
   text-align:center;
   cursor:pointer;

   border:3px solid;
   border-radius:10px;
}

.Menu-List li:before{
   content:'';
   display:inline-block;
   vertical-align:middle;
   height:100%;
}

.Menu-List li p{
   display:inline-block;
   vertical-align:middle;
}
