/*
 Top-Bar的架構如下：
 　導覽列框架
 　　導覽列項目框架
 　　　選項
 　　　　選項按鈕
 　導覽列修正
*/

/*
 導覽列框架
*/
#Top-Bar{
   margin:0;
   padding:0;
   height:80px;
   width:100%;
   background-color:#CC0033;
   text-align:center;
   z-index:9000;
}

/*
 導覽列項目框架
*/
.Menu-Bar{
   margin:0;
   padding:10px;
   list-style-type:none;
}

/*
 選項
*/
.Menu-Bar li{
   height:60px;
   width:160px;
   display:table-cell;
   vertical-align:middle;
   cursor:pointer;

   border-radius:10px;
}
.Menu-Bar li:hover{
   background-color:#b01c2e;
}

/*
 選項按鈕
*/
.Top-Bar-Buttons{
   color:white;
   font-size:150%;
}

/*
 導覽列修正：定在上方時的平滑捲動
*/
#Top-Bar-Fix{
   height:80px;
   display:none;
}
